body {
  color: #f1f1f1;
  overflow: hidden;
}
.country-name {
  display: inline-block;
}
.main-container {
  width: 100%;
  border-radius: 5px;
  padding: 50px;
  background: #222;
  color: #f1f1f1;
}

.currency-input {
  color: #f1f1f1;
  width: 90%;
  margin-right: 5px;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.rate {
  font-size: 0.8rem;
}
.subtitle {
  margin-bottom: 0px;
  font-size: 12px;
}
.v-toolbar {
  flex: 0 0 auto !important;
}
.v-application a {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #f1f1f1 !important;
  padding: 20px;
  text-decoration: none;
}
.board {
  margin-top: 1rem;
  max-width: 1650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.coin-box {
  margin-top:20px;
	color: #f1f1f1;
  position: relative;
  width: 370px;
  height: 200px;
  background: #333;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.16);
  border-radius: 6px;
  padding: 0;
  transition: 0.5s;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.coin-price {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.2;
}
.price {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.8;
  padding-left: 45px;
}
.coin-info {
  height: 212px;
  padding: 10px 20px 5px 15px;
}
.coin-per {
  font-size: 20px;
  font-weight: bold;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.coin-img {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: 0 0;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.3), 0px -2px 12px 3px rgba(156, 156, 156, 0.1);
  box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.3), 0px -2px 12px 3px rgba(156, 156, 156, 0.1);
  border-radius: 50%;
  border: 2px solid #fff;
}
.coin-name {
  font-size: 24px;
  font-weight: bold;
  line-height:40px;
  vertical-align: middle;
  margin-left: 10px;
  float:left;
}
.box-icon {
  padding-left: 10px;
}
.box-icon span{
  display: block;
  height: 40px;
  width: 40px;
  background-position: 0 0;
  background-size: 100% 100%;
  box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.3), 0px -2px 12px 3px rgba(156, 156, 156, 0.1);
  border-radius: 50%;
  border: 2px solid #fff;
}
.dev {
  font-size: 12px;
  padding-bottom: 0px;
  text-align: left;
}